*.bak
**/bin
bin/
build/
*.class
.classpath
dist/
.DS_Store
**/.DS_Store
*.ear
hs_err_pid*
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.jar
.loadpath
local.properties
.metadata
.mtj.tmp/
nbactions.xml
nbbuild/
nb-configuration.xml
nbdist/
nbproject/private/
*~.nib
out/
.project
release.properties
.settings/
*.swp
./target
*/target
**/target
target/
*.tmp
tmp/
*.war
